
html{
    scroll-behavior: smooth;
}

img{
    float: right;
    border-radius: 55px;
    margin-top: 50px;
    padding-right: 10px;
    
}

nav ul li{
    display:inline-table;
    font-size: 22px;
    list-style:none;
    margin: 10px 10px;
    margin-top: 0px;
}

nav ul li a{
    
        text-decoration: none;
        color: #000;
        font-weight: bold;
        padding: 8px 25px;
transition: all.5s ease;
    }
nav ul li a:hover{
    background:maroon;
    color: #000;
    box-shadow: 0 0 10px white;
}


.first h1 {
    font-size: 30px;
    color: #212121;
    margin-left: 100px;
    font-family:century;
    
    font-weight: bold;
    margin-top: 220px;

}
span{
    color: maroon;
    font-size: 50px;
}

.first p{
color: #111;
font-size: 1.5rem;
float:left;
margin-top: 20px;
margin-left: 100px;

}
body {
    background-color: grey;}
    


        .sc1 h4{
            font-weight: bold;
            align-self:right;
        }
.sc1{
    float:right;
    font-family:century;
    font-size: large;
    font-weight: bold;
    background-color:gray;
    width: 1250px;
    height: 145px;
    border: 1px solid black;
    margin-top: 50px;
    margin-left: 350px;
    align-items: center;
    text-align: justify;
    padding:10px ;
    border-radius: 15px;
    background:linear-gradient(to top,rgb(72, 149, 185) 30%,white 70%);
    background-size: 100% 200%;
    transition: all 8s;
}

.sc1:hover{
    background-position: left bottom;
    color:white;
    border:none
    }


table {
    width: 25em;
    background-color: white;
    border-radius: 3px;
    margin-left: 100px;
    margin-top: 5px;
    
}
th{
    border-bottom: 1px dashed black;
    text-align: left;
}
table,th, td{
font-size: 30px;
letter-spacing: 1px;
padding: auto;
border-collapse: collapse;

}

.head{
    font-size: 30px;
    text-align:center;
    color:black;
    font-weight: bold;
    margin-top: 270px;

    
}
tr:nth-child(even){
    background-color: rgb(72, 149, 185);

}

tr:nth-child(odd){
background-color:rgb(170, 159, 194);
    
}

.side{
   
   float: right;
    font-family:century;
    font-size: large;
    font-weight: bold;
    background-color:rgb(170, 159, 194);
    width: 250px;
    height: 290px;
    border: 1px solid black;
    margin-top: 85px;
    align-items: center;
    text-align: justify;
    padding:10px ;
    border-radius: 15px;
    background:linear-gradient(to top,rgb(72, 149, 185) 30%,white 70%);
    background-size: 100% 200%;
    transition: all 8s;

    }


button {
margin-left: 500px;
margin-top: 30px;
    padding      : 10px;
    width: 200px;
    border       : 1px solid #333;
    border-radius: 5px;
    font-size: 15px;
    background-color  : rgb(51, 51, 100);
    cursor       : pointer;
    
  }

  form{
      font-size: 25px;
    width: 100%;
    max-width: 600px;
    margin-top: 40px;
    margin-left: 350px;
    
}
.input-group{
    margin-bottom: 25px;
    position: relative;
}
input, textarea{
    
    width: 110%;
    height: 20px;
    padding: 5px;
    outline: 0;
    border: 1px solid black;
    background: white;
    font-size: 15px;

}

.msg,textarea{
width: 70%;
height: 100px;
padding: 10px;
margin-left: 172px;
}

.contact{
    font-size: 35px;
    margin-left: 350px;
    margin-top: 45px;
}


    .hd{
        font-size: 40px;
    }

    
.footer{
    margin-top: 100px;
    background-color:white;
    display:flex; 
    flex-direction:row;
   justify-content: space-evenly;

}



.homf{

    background-color:white;
    display:flex; 
    flex-direction:row;
   justify-content: space-evenly;
   margin-top: 400px;

}
